.App {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-logo {
  height: 50px;
  padding-top: 20px;
}
.AppImg
{
  height: 100%;
  width: 100%;
}

.contact-log{
  height: 30px;
  width: auto;
  padding-left: 5px;
  float: right;
}
.ContactLogoMargin{
  height: 40px;
  margin: auto;
  width: 20vw;
  text-align: center;
}
.AppNavHeaderMenuShow:hover .dropDownMenuShowClass
{
  display: block;
}
.dropDownMenuShowClass
{
  z-index: 1;
  height: 20vh;
  width: 20vw;
  background-color: bisque;
  color: red;
  position: absolute;
  display:none;
}
.dropDownMenuTextClass{
  background-color: bisque;
}
.dropDownMenuTextClass:hover{
  background-color: antiquewhite;
}

.AppNavHeaderMenuShow
{
  position: relative;
}
.AppNavHeader{
  height:30px;
  width:20vw;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}
